<div class="row">
  <div class="col">
    <input
      type="text"
      class="form-control"
      placeholder="User Name"
      #accountName
    />
  </div>
  <div class="col">
    <select name="" id="" class="form-control" #status>
      <option value="Create">Create</option>
      <option value="Delete">Delete</option>
      <option value="Update">Update</option>
    </select>
  </div>
  <div class="col">
    <button
      class="btn btn-info"
      (click)="onCreateAccount(accountName.value, status.value)"
    >
      Add
    </button>
  </div>
</div>
