<div>
  <div
    class="jumbotron"
    style="margin: 45px; background-color: rgba(67, 228, 225, 0.23)"
  >
    <h2 style="text-align: center; padding-top: 5%">AdminLogin</h2>
    <p style="text-align: center">Enter the Credentials</p>
    <form action="">
      <div class="container">
        <p style="text-align: center; padding-bottom: 20px">
          Email ID
          <input
            type="text"
            name="Adminid"
            placeholder="Admin id"
            email
            required
            style="padding-right: 60px; margin-left: 35px"
            required
          />
        </p>
      </div>
      <div class="container">
        <p style="text-align: center">
          Password
          <input
            type="password"
            name="Adminid"
            placeholder="Password"
            required
            style="padding-right: 60px; margin-left: 15px"
            required
          />
          <br />
          <button
            class="btn btn-primary"
            routerLink="/accounts"
            style="margin-top: 20px"
          >
            Login
          </button>
        </p>
      </div>
    </form>
  </div>
</div>
