<div>
    <div class="jumbotron" style="margin: 45px; background-color: rgba(67, 228, 225, 0.23)">
        <h2 style="text-align: center; padding-top: 5%">Login</h2>
        <p style="text-align: center">
            Enter the registered E-mail address and the password!
        </p>
        <form action="">
            <div class="container">
                <p style="text-align: center; padding-bottom: 20px">
                    E-mail
                    <input type="text" name="email" placeholder="Confirm email address" email required style="padding-right: 60px; margin-left: 35px" required />
                </p>
            </div>
            <div class="container">
                <p style="text-align: center">
                    Password
                    <input type="text" name="email" placeholder="Password" required style="padding-right: 60px; margin-left: 15px" required />
                    <br />
                    <button class="btn btn-primary" routerLink="/posts" style="margin-top: 20px">
            Login
          </button>
                </p>
            </div>
        </form>
    </div>
</div>