<div class="container" style="padding-bottom: 50px; align-self: center">
  <div
    style="
      background-image: url(https://www.ucb.ac.uk/media/y0ofjdyh/events-hospitality-credit-to-taylor-lynn-corporation-1.jpg?anchor=center&mode=crop&heightratio=0.4285714285714285714285714286&width=1920&rnd=132520653323200000);
      padding: 240px;
      image-resolution: inherit;
    "
  >
    <h1 style="color: white; font-weight: bold; text-align: center">
      Event Management
    </h1>
    <h2 style="color: white; text-align: center">
      Welcome to Spark event Management
    </h2>
    <p style="color: white; text-align: center">
      Easy way to create & plan events...
    </p>
  </div>
</div>
